/*! CSS Used from: Embedded */
.ͼ1{position:relative!important;box-sizing:border-box;display:flex!important;flex-direction:column;}
.ͼ1 .cm-scroller{display:flex!important;align-items:flex-start!important;font-family:monospace;line-height:1.4;height:100%;overflow-x:auto;position:relative;z-index:0;}
.ͼ1 .cm-content[contenteditable=true]{-webkit-user-modify:read-write-plaintext-only;}
.ͼ1 .cm-content{margin:0;flex-grow:2;flex-shrink:0;display:block;white-space:pre;word-wrap:normal;box-sizing:border-box;min-height:100%;padding:4px 0;outline:none;}
.ͼ3 .cm-content{caret-color:white;}
.ͼ1 .cm-line{display:block;padding:0 2px 0 6px;}
.ͼ1 .cm-layer > *{position:absolute;}
.ͼ1 .cm-layer{position:absolute;left:0;top:0;contain:size style;}
.ͼ1 .cm-cursorLayer{pointer-events:none;}
.ͼ1 .cm-cursor{border-left:1.2px solid black;margin-left:-0.6px;pointer-events:none;}
.ͼ1 .cm-cursor{display:none;}
.ͼ3 .cm-cursor{border-left-color:#444;}
.ͼ1 .cm-announced{position:fixed;top:-10000px;}
@media print{
.ͼ1 .cm-announced{display:none;}
}
.ͼ3 .cm-activeLine{background-color:#99eeff33;}
.ͼ1 .cm-gutters{flex-shrink:0;display:flex;height:100%;box-sizing:border-box;inset-inline-start:0;z-index:200;}
.ͼ3 .cm-gutters{background-color:#333338;color:#ccc;}
.ͼ1 .cm-gutter{display:flex!important;flex-direction:column;flex-shrink:0;box-sizing:border-box;min-height:100%;overflow:hidden;}
.ͼ1 .cm-gutterElement{box-sizing:border-box;}
.ͼ1 .cm-lineNumbers .cm-gutterElement{padding:0 3px 0 5px;min-width:20px;text-align:right;white-space:nowrap;}
.ͼ3 .cm-activeLineGutter{background-color:#222227;}
.ͼ1 .cm-breakpoint-gutter .cm-gutterElement{padding-left:5px;cursor:default;}
.ͼp{color:#abb2bf;background-color:#272822;}
.ͼp .cm-content{caret-color:white;}
.ͼp .cm-cursor{border-left-color:white;}
.ͼp .cm-content ::selection{background-color:#90cdf463;border-radius:2px;}
.ͼp .cm-activeLine{background-color:#706d6d15;}
.ͼp .cm-gutters{background-color:#2F3129;color:#8F908A;border:none;}
.ͼp .cm-activeLineGutter{background-color:#85828215;color:white;}
.ͼ16{background:#272822;font-size:15.2px;color:white;border-radius:4px;margin-right:5px;}
.ͼ16 .cm-scroller{overflow:auto;}
.ͼ16 .cm-gutters{border-radius:4px;}
.ͼ16 .cm-cursor{border-left-color:white;border-left-width:2px;}
.ͼ4 .cm-line ::selection{background-color:transparent!important;}
.ͼ4 .cm-line::selection{background-color:transparent!important;}
.ͼ4 .cm-line{caret-color:transparent!important;}
.ͼ4 .cm-content{caret-color:transparent!important;}
/*! CSS Used from: http://127.0.0.1:5000/external-css/generated.css */
*,::after,::before{box-sizing:border-box;border-width:0;border-style:solid;border-color:#edf2f7;}
::after,::before{--tw-content:'';}
button{font-family:inherit;font-size:100%;font-weight:inherit;line-height:inherit;color:inherit;margin:0;padding:0;}
button{text-transform:none;}
button{-webkit-appearance:button;background-color:transparent;background-image:none;}
button{cursor:pointer;}
:disabled{cursor:default;}
*,::after,::before{--tw-border-spacing-x:0;--tw-border-spacing-y:0;--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1;--tw-scroll-snap-strictness:proximity;--tw-ring-offset-width:0px;--tw-ring-offset-color:#fff;--tw-ring-color:rgb(66 153 225 / 0.5);--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000;}
.relative{position:relative;}
.order-1{order:1;}
.mx-auto{margin-left:auto;margin-right:auto;}
.mt-4{margin-top:1rem;}
.flex{display:flex;}
.min-h-0{min-height:0;}
.w-full{width:100%;}
.max-w-screen-2xl{max-width:1536px;}
.flex-1{flex:1 1 0%;}
.flex-col{flex-direction:column;}
.justify-between{justify-content:space-between;}
.overflow-hidden{overflow:hidden;}
.rounded{border-radius:.25rem;}
.text-lg{font-size:1.125rem;}
.btn{-webkit-text-decoration-line:none;}
.btn:hover{--tw-border-opacity:1;border-color:rgb(66 153 225 / var(--tw-border-opacity));--tw-bg-opacity:1;background-color:rgb(99 179 237 / var(--tw-bg-opacity));}
.btn:hover:active{--tw-border-opacity:1;border-color:rgb(43 108 176 / var(--tw-border-opacity));--tw-bg-opacity:1;background-color:rgb(43 108 176 / var(--tw-bg-opacity));}
.fixed-editor-height .cm-editor{height:100%;}
.fixed-editor-height .cm-scroller{overflow-x:auto;}
.cm-editor{margin-right:0!important;}
/*! CSS Used from: http://127.0.0.1:5000/template/assets/css/style.css */
*,*::before,*::after{box-sizing:border-box;}
[tabindex="-1"]:focus:not(:focus-visible){outline:0!important;}
button{border-radius:0;}
button:focus{outline:1px dotted;outline:5px auto -webkit-focus-ring-color;}
button{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
button{overflow:visible;}
button{text-transform:none;}
button{-webkit-appearance:button;}
button:not(:disabled){cursor:pointer;}
.order-1{order:1;}
.btn{display:inline-block;font-weight:400;color:#ffffff;text-align:center;vertical-align:middle;user-select:none;background-color:transparent;border:1px solid transparent;padding:0.375rem 0.75rem;font-size:0.9375rem;line-height:1;border-radius:0.1875rem;transition:color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;}
@media (prefers-reduced-motion: reduce){
.btn{transition:none;}
}
.btn:hover{color:#ffffff;text-decoration:none;}
.btn:focus{outline:0;box-shadow:0 0 0 0.2rem rgba(0, 123, 255, 0.25);}
.btn:disabled{opacity:0.65;}
.btn:not(:disabled):not(.disabled){cursor:pointer;}
.btn-primary{color:#fff;background-color:#0090e7;border-color:#0090e7;}
.btn-primary:hover{color:#fff;background-color:#0078c1;border-color:#0070b4;}
.btn-primary:focus{color:#fff;background-color:#0078c1;border-color:#0070b4;box-shadow:0 0 0 0.2rem rgba(38, 161, 235, 0.5);}
.btn-primary:disabled{color:#fff;background-color:#0090e7;border-color:#0090e7;}
.btn-primary:not(:disabled):not(.disabled):active{color:#fff;background-color:#0070b4;border-color:#0068a7;}
.btn-primary:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 0.2rem rgba(38, 161, 235, 0.5);}
.rounded{border-radius:0.25rem!important;}
.overflow-hidden{overflow:hidden!important;}
.mt-4{margin-top:1.5rem!important;}
.mx-auto{margin-right:auto!important;}
.mx-auto{margin-left:auto!important;}
@media print{
*,*::before,*::after{text-shadow:none!important;box-shadow:none!important;}
}
div{text-shadow:none;}
button:focus{outline:none;outline-width:0;outline-color:transparent;box-shadow:none;outline-style:none;}
.btn,.btn:active,.btn:focus,.btn:hover,.btn:visited,button,button:active,button:hover,button:visited,div{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.btn{font-size:0.9375rem;line-height:1;font-weight:normal;}
.btn-primary:not(.btn-light):not(.btn-secondary){color:#ffffff;}
.btn-primary:not(.btn-light):not(.btn-secondary):hover,.btn-primary:not(.btn-light):not(.btn-secondary):focus,.btn-primary:not(.btn-light):not(.btn-secondary):active{color:#ffffff;}
.btn-primary:not(.btn-light):not(.btn-secondary):focus,.btn-primary:not(.btn-light):not(.btn-secondary):active{background:#0090e7;border-color:#0090e7;}
*{box-sizing:border-box;}