<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DarkHedy</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="template/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="template/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="external-css/generated.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="template/assets/vendors/jquery-toast-plugin/jquery.toast.min.css">
    <!-- End Plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="template/assets/css/style.css">
    <link rel="stylesheet" href="css/custom.css">

    <!-- End layout styles -->
    <link rel="shortcut icon" href="/images/favicon.svg"/>

        <style>
        #result {
            word-wrap: break-word;
        }

        .test-error {
            color: red;
        }
    </style>
</head>
<body>
<div class="container-scroller">
    <!-- partial:template/partials/_sidebar.html -->
    <!-- SIDEBAR -->
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:template/partials/_navbar.html -->
        <!-- NAVBAR -->
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <!-- CONTENT -->
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:template/partials/_footer.html -->
            <!-- FOOTER -->
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="template/assets/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="template/assets/vendors/jquery-toast-plugin/jquery.toast.min.js"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="template/assets/js/off-canvas.js"></script>
<script src="template/assets/js/hoverable-collapse.js"></script>
<script src="template/assets/js/misc.js"></script>
<script src="template/assets/js/settings.js"></script>
<script src="template/assets/js/todolist.js"></script>

<script src="template/assets/js/notifications.js"></script>
<script src="/js/base.js"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<!-- End custom js for this page -->
</body>
</html>